# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [13]:
import pandas as pd
import sqlite3
conexion = sqlite3.connect('Salaries.sqlite')
cursor = conexion.cursor()
df = pd.read_sql_query("SELECT * FROM Salaries", conexion)
print(df.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25     None  567595.43         567595.43
1  155966.02   245131.88  137811.38     None  538909.28         538909.28
2  212739.13   106088.18    16452.6     None  335279.91         335279.91
3    77916.0    56120.71   198306.9     None  332343.61         332343.61
4   134401.6      9737.0  182234.59     None  326373.19         326373.19

   Year Notes         Agency Status
0  2011  None  San Francisco   None
1  2011  None  San Francisco   None
2  2011  None  San Francisco   None
3  2011  None  San Francisco   None
4  2011  None  San Francisco   None

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [19]:
#todo
df = pd.read_sql_query("SELECT * FROM Salaries", conexion)


#  Muestra  el top 10
top10 = df[["EmployeeName", "TotalPayBenefits"]].head(10)

print(top10)

         EmployeeName  TotalPayBenefits
0      NATHANIEL FORD         567595.43
1        GARY JIMENEZ         538909.28
2      ALBERT PARDINI         335279.91
3   CHRISTOPHER CHONG         332343.61
4     PATRICK GARDNER         326373.19
5      DAVID SULLIVAN         316285.74
6           ALSON LEE         315981.05
7       DAVID KUSHNER         307899.46
8      MICHAEL MORRIS         303427.55
9  JOANNE HAYES-WHITE         302377.73

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [26]:
#todo
filtro = df[df["OvertimePay"] > 50000]

print(filtro[["EmployeeName", "OvertimePay"]])

              EmployeeName  OvertimePay
1             GARY JIMENEZ    245131.88
2           ALBERT PARDINI    106088.18
3        CHRISTOPHER CHONG     56120.71
6                ALSON LEE     89062.90
8           MICHAEL MORRIS     86362.68
...                    ...          ...
118288    Francisco A Arce     51625.42
118342    Felix Pagatpatan     52550.53
119450         Bobby Jones     50265.23
119607       Hung V Nguyen     74935.96
120204  Girma-Worku Zeleke     54738.36

[2165 rows x 2 columns]

3. **Contar cuántos empleados únicos hay por año**

In [ ]:
#todo

result = df.groupby('Year')['EmployeeName'].nunique()

print(result)

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [34]:
result = df.groupby('JobTitle').nunique()
print(result)

                                                 Id  EmployeeName  BasePay  \
JobTitle
ACCOUNT CLERK                                    83            83       52
ACCOUNTANT                                        5             5        5
ACCOUNTANT INTERN                                48            48       24
ACPO,JuvP, Juv Prob (SFERS)                       1             1        1
ACUPUNCTURIST                                     1             1        1
...                                             ...           ...      ...
X-RAY LABORATORY AIDE                            26            26       23
X-Ray Laboratory Aide                           100            70       93
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    1             1        1
Youth Comm Advisor                                4             4        4
ZOO CURATOR                                       1             1        1

                                                OvertimePay  OtherPay  \
JobTitle
ACCOUNT CLERK                                            19        27
ACCOUNTANT                                                1         3
ACCOUNTANT INTERN                                         3         8
ACPO,JuvP, Juv Prob (SFERS)                               1         1
ACUPUNCTURIST                                             1         1
...                                                     ...       ...
X-RAY LABORATORY AIDE                                    23        23
X-Ray Laboratory Aide                                    68        78
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS            1         1
Youth Comm Advisor                                        1         3
ZOO CURATOR                                               1         1

                                                Benefits  TotalPay  \
JobTitle
ACCOUNT CLERK                                          0        71
ACCOUNTANT                                             0         5
ACCOUNTANT INTERN                                      0        25
ACPO,JuvP, Juv Prob (SFERS)                            1         1
ACUPUNCTURIST                                          0         1
...                                                  ...       ...
X-RAY LABORATORY AIDE                                  0        26
X-Ray Laboratory Aide                                100       100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS         0         1
Youth Comm Advisor                                     4         4
ZOO CURATOR                                            0         1

                                                TotalPayBenefits  Year  Notes  \
JobTitle
ACCOUNT CLERK                                                 71     1      0
ACCOUNTANT                                                     5     1      0
ACCOUNTANT INTERN                                             25     1      0
ACPO,JuvP, Juv Prob (SFERS)                                    1     1      0
ACUPUNCTURIST                                                  1     1      0
...                                                          ...   ...    ...
X-RAY LABORATORY AIDE                                         26     1      0
X-Ray Laboratory Aide                                        100     3      0
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS                 1     1      0
Youth Comm Advisor                                             4     3      0
ZOO CURATOR                                                    1     1      0

                                                Agency  Status
JobTitle
ACCOUNT CLERK                                        1       0
ACCOUNTANT                                           1       0
ACCOUNTANT INTERN                                    1       0
ACPO,JuvP, Juv Prob (SFERS)                          1       1
ACUPUNCTURIST                                        1       0
...                                                ...     ...
X-RAY LABORATORY AIDE                                1       0
X-Ray Laboratory Aide                                1       2
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS       1       0
Youth Comm Advisor                                   1       1
ZOO CURATOR                                          1       0

[2159 rows x 12 columns]

In [35]:

#top 5 mas comunes 
result2 =  df['JobTitle'].value_counts().head(5)
print("top 5 mas comunes",result2)

top 5 mas comunes JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

5. **Mostrar el salario total (TotalPay) promedio por año**

In [37]:
result =df.groupby('Year')['TotalPay'].mean()
print(result)

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [41]:
#todo
df.to_csv('empleados_salaries.csv', index=False)
newDf =pd.read_csv('empleados_salaries.csv')
print(newDf.tail(10))

            Id      EmployeeName                      JobTitle       BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant          0.00
148645  148646  Carolyn A Wilson     Human Services Technician          0.00
148646  148647      Not provided                  Not provided  Not Provided
148647  148648    Joann Anderson   Communications Dispatcher 2          0.00
148648  148649       Leon Walker                     Custodian          0.00
148649  148650     Roy I Tillery                     Custodian          0.00
148650  148651      Not provided                  Not provided  Not Provided
148651  148652      Not provided                  Not provided  Not Provided
148652  148653      Not provided                  Not provided  Not Provided
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch          0.00

        OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits  \
148644          0.0          0.00          0.00      0.00              0.00
148645          0.0          0.00          0.00      0.00              0.00
148646          NaN  Not Provided  Not Provided      0.00              0.00
148647          0.0          0.00          0.00      0.00              0.00
148648          0.0          0.00          0.00      0.00              0.00
148649          0.0          0.00          0.00      0.00              0.00
148650          NaN  Not Provided  Not Provided      0.00              0.00
148651          NaN  Not Provided  Not Provided      0.00              0.00
148652          NaN  Not Provided  Not Provided      0.00              0.00
148653          0.0       -618.13          0.00   -618.13           -618.13

        Year  Notes         Agency Status
148644  2014    NaN  San Francisco     PT
148645  2014    NaN  San Francisco     PT
148646  2014    NaN  San Francisco    NaN
148647  2014    NaN  San Francisco     PT
148648  2014    NaN  San Francisco     PT
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_10120\4126452889.py:3: DtypeWarning: Columns (3,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  newDf =pd.read_csv('empleados_salaries.csv')